$color-footer: #021227;
$color-black: black;
$color-white: white;
$color-principal-naranja: #E24F37;
$color-principal-naranja-hover: #99210f;
$color-secundary-azul:#063674;
$background-color-overlay: rgba(0, 0, 0, 0.5);